voice-selise.duckdns.org {
    handle /token-server/* {
        uri strip_prefix /token-server
        reverse_proxy livekit-token-server:3001
    }

    handle /rtc* {
        reverse_proxy livekit:7880
    }

    handle {
        reverse_proxy livekit-react-app:80
    }
}
